PROPERTY_CORE_DB_HOST=aws-0-ap-northeast-1.pooler.supabase.com
PROPERTY_CORE_DB_PORT=5432
PROPERTY_CORE_DB_NAME=postgres
PROPERTY_CORE_DB_USER=pcms_property_core_service.<project-ref>
PROPERTY_CORE_DB_PASSWORD=
PROPERTY_CORE_DB_SSLMODE=require
PROPERTY_CORE_ALLOW_WRITES=false
PROPERTY_CORE_SERVICE_TOKEN=
